.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-base: #87C7D1;
    -fx-background: #5b5f78;
}

/* Default textfield styling */
.text-field {
    -fx-font-size: 14px;
    -fx-text-fill: black;      /* Text color */
    -fx-background-color: #5b5f78; /* Background color */
    -fx-border-color: rgb(255, 255, 255);    /* Border color */
    -fx-border-width: 0.5px;     /* Border thickness */
    -fx-border-radius: 10px;           /* Border corner radius */
    -fx-background-radius: 6px;       /* Background corner radius */
    -fx-padding: 5px;          /* Inner padding */
    -fx-prompt-text-fill: #7d7d7d; /* Prompt text color */
}

/* Styling for buttons */
.button {
    -fx-background-color: #8B9eb7;
    -fx-text-fill: white;
    -fx-border-color: transparent; /* Remove outer border */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-padding: 10px 20px; /* Padding for better visibility */
    -fx-font-size: 14pt; 
    -fx-font-weight: bold; 
    -fx-cursor: hand; /* Changes cursor to hand on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Add shadow for better visibility */
    -fx-transition: all 0.3s ease; /* Smooth transition */
}

.button:hover {
    -fx-background-color: #A0B9D9; /* Highlight color on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 0); /* Stronger shadow on hover */
}

.button:pressed {
    -fx-background-color: #6A8BA3; /* Darker color when pressed */
    -fx-effect: none; /* Remove shadow when pressed */
}

.button:disabled {
    -fx-text-fill: white;      /* Text color */
    -fx-cursor: default; /* Default cursor when button is disabled */
}

/* Inverse button styling */
.button-inverse {
    -fx-background-color:  #5b5f78;
    -fx-text-fill: white;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5;
    -fx-border-width: 0.5;
    -fx-transition: all 0.3s ease;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.button-inverse:focused {
    -fx-border-color: #425e82; /* Highlight border color */
}

.button-inverse:active {
    -fx-background-color: #9c9c9c; /* Darker background when clicked */
}

/* Styling for small buttons */
.small-button {
    -fx-border-color: transparent; /* Remove outer border */
    -fx-background-radius: 5px; /* Small rounded corners */
    -fx-padding: 0; /* No inner padding */
    -fx-font-size: 8; /* Responsive font size */
    -fx-font-weight: bold; /* Make text bold */
    -fx-cursor: hand; /* Changes cursor to hand on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0); /* Add shadow for better visibility */
    -fx-transition: all 0.3s ease; /* Smooth transition */
}

.small-button:hover {
    -fx-background-color: #A0B9D9; /* Highlight color on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Stronger shadow on hover */
}

.small-button:pressed {
    -fx-background-color: #6A8BA3; /* Darker color when pressed */
    -fx-effect: none; /* Remove shadow when pressed */
}

/* Styling for image buttons */
.image-button {
    -fx-background-color: transparent; /* Transparent background */
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.image-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 0); /* Stronger shadow on hover */
}

.image-button:pressed {
    -fx-effect: none; /* Remove shadow when pressed */
}

/* Additional button styles */
.game-selection-button {
    -fx-pref-width: 92px;
    -fx-pref-height: 78px;
    -fx-background-color: #e8ebf0;
    -fx-text-fill: white;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.nav-button {
    -fx-background-color: #8B9eb7;
    -fx-text-fill: white;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.translate-button {
    -fx-background-color: #00673a;
    -fx-text-fill: white;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.translate-button:hover {
    -fx-background-color: #009c59; /* Highlight color on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 0); /* Stronger shadow on hover */
}

.left-matching-button {
    -fx-font-size: 14px;
    -fx-pref-width: 145;
    -fx-pref-height: 70;
    -fx-background-color: #525252;
    -fx-border-color: #8B9eb7;
    -fx-border-radius: 2px;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.right-matching-button {
    -fx-font-size: 14px;
    -fx-pref-width: 145;
    -fx-pref-height: 70;
    -fx-border-color: white;
    -fx-border-radius: 2px;
    -fx-background-color:  #8B9eb7;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.audio-button {
    /* -fx-min-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-max-width: 50px; */
    -fx-border-color: white;
    -fx-border-radius: 2px;
    -fx-background-color:  #8B9eb7;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.settings-textboxes {
    -fx-min-width: 300px;
    -fx-max-width: 300px;

    -fx-min-height: 30px;
    -fx-max-height: 30px;
}

.settings-update-buttons {
    -fx-min-width: 50px;
    -fx-max-width: 50px;

    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-padding: 0; /* No inner padding */
    -fx-font-size: 8px;
}



/* Styling for text */
.title {
    -fx-font-size: 38px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.heading {
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-text-fill: white;
}

.learning-content-text {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.question-text {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.story-content-text {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.multiplechoice-button {
    -fx-background-color: #8B9eb7;
    -fx-border-color: #8B9eb7;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
    -fx-cursor: hand; /* Changes cursor to hand on hover */
}

.multiplechoice-button :focused {
    -fx-border-color: #ffffff; /* Highlight border color */
}

.multiplechoice-button :active {
    -fx-background-color: #c5d0dd; /* Darker background when clicked */
}


.exit-button {
    -fx-fit-width: 20px;
    -fx-fit-height: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

/* Highlighted button style */
.button-highlighted {
    -fx-background-color: #162335; /* Gold color for highlighting */
    -fx-text-fill: rgb(255, 255, 255); /* Text color */
    -fx-padding: 10px 20px; /* Padding */
    -fx-font-size: 14pt; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Shadow effect */
    -fx-transition: all 0.3s ease; /* Smooth transition */
}