.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-base: #87C7D1;
    -fx-background: #5b5f78;
}

/* Styling for buttons */

/* Default coloring for a button & buttons text */
.button {
    -fx-background-color: #8B9eb7;
    -fx-text-fill: white;
    -fx-transition: all 0.3s ease;
}

.button:focused {
    -fx-border-color: #a6a59f; /* Highlight border color */
    -fx-border-width: 2px;     /* Border width */
}

.button:active {
    -fx-background-color: #276570; /* Darker background when clicked */
}

.button:disabled {
    -fx-opacity: 1; /* Prevent dimming */
    -fx-text-fill: white; /* Set the text color to match the normal state */
}

.game-selection-button {
    -fx-pref-width: 92px;
    -fx-pref-height: 78px;
    -fx-background-color: #e8ebf0;
    -fx-text-fill: white;
}

.game-select-text {
    
}

/* Style for navagation buttons (back buttons, next buttons, etc.) */
.nav-button {
    -fx-background-color: #8B9eb7;
    -fx-text-fill: white;
}

.translate-button {
    -fx-background-color: #00673a;
    -fx-text-fill: white;
}

/* Styling for text */

.title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(95, 95, 95, 0.6), 5, 0.0, 0, 1);
}

.heading {
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-text-fill: #000000;
}

.learning-content-text {
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

.question-text {
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

.story-content-text {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.matching-button  {
    -fx-font-size: 15px;
    -fx-pref-width: flex;
    -fx-background-color: #8B9eb7;

}

.multiplechoice-button {
    -fx-font-size: 18px;
    -fx-pref-width: flex;
    -fx-background-color: #8B9eb7;
}

.exit-button {
    -fx-fit-width: 20px;
    -fx-fit-height: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

/* Styling for miscellaneous elements */

